body {
    font-family: Arial;
    text-align: center;
    background: linear-gradient(to right, #141e30, #243b55);
    color: white;
}

input, select {
    padding: 8px;
    margin: 5px;
    border-radius: 5px;
    border: none;
}

button {
    padding: 8px 12px;
    margin: 5px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background: orange;
    font-weight: bold;
}

button:hover {
    background: yellow;
}

.product {
    background: white;
    color: black;
    padding: 10px;
    margin: 10px auto;
    width: 320px;
    border-radius: 8px;
}