body {
    font-family: Arial;
    background-color: #f4f4f4;
    text-align: center;
}

.container {
    background: white;
    padding: 20px;
    width: 400px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
}

input {
    display: block;
    margin: 10px auto;
    padding: 8px;
    width: 80%;
}

button {
    padding: 10px;
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: darkblue;
}

ul {
    list-style: none;
}